<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Gaming Login Form Widget Tab Form,Login Forms,Sign up Forms,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.min.css" /-->
    <link href="@Url.Content("~/Content/Content2/css/styles.css")" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
    <div class="padding-all">
        <div class="header">
            <h1><img src="@Url.Content("~/Content/Content2/images/mundo2.svg")" alt="mundo2.svg"> Login</h1>
        </div>
        @RenderBody()


        <div class="footer">
            <p>© 2018 Proyecto | Design by  <a href="#">  Proyecto</a></p>
        </div>
    </div>
</body>
</html>