@{
    ViewBag.Title = "Web Telas Sur";
    Layout = "~/Views/Shared/_LayoutFrontEnd.cshtml";
}

<section id="mts-slider" class="slider-pro mts-slider">
    <div class="sp-slides">

        <!-- Slides -->
        <div class="sp-slide mts-main-slides">
            <div class="mts-img-overlay"></div>

            <img class="sp-image" src="~/Content/images/img-header/slider-img-1.jpg" alt="Slider 1" />

            <h1 class="sp-layer mts-slider-text-big"
                data-position="center" data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
                <span class="mts-highlight-texts">Simple & Elegantes</span>
            </h1>

            <p class="sp-layer"
               data-position="center" data-vertical="15%" data-show-delay="2000" data-hide-delay="200" data-show-transition="left" data-hide-transition="right">
                HERMOSA-TELA-ALTA CALIDAD
            </p>
        </div>
        <!-- Slides End -->
        <!-- Slides -->
        <div class="sp-slide mts-main-slides">
            <div class="mts-img-overlay"></div>
            <img class="sp-image" src="~/Content/images/img-header/slider-img-2.jpg" alt="Slider 2" />

            <h2 class="sp-layer mts-slider-text-big"
                data-position="center" data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
                <span class="mts-highlight-texts">EFICIENTE</span>
            </h2>

            <p class="sp-layer"
               data-position="center" data-vertical="15%" data-show-delay="2000" data-hide-delay="200" data-show-transition="left" data-hide-transition="right">
                SUAVE COMO EL AGUA
            </p>
        </div>
        <!-- Slides End -->
        <!-- Slides -->
        <div class="sp-slide mts-main-slides">
            <div class="mts-img-overlay"></div>

            <img class="sp-image" src="~/Content/images/img-header/tela4.png" alt="Slider 3" />

            <h2 class="sp-layer mts-slider-text-big"
                data-position="center" data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
                <span class="mts-highlight-texts">100% ALGODÓN</span>
            </h2>

            <p class="sp-layer"
               data-position="center" data-vertical="15%" data-show-delay="2000" data-hide-delay="200" data-show-transition="left" data-hide-transition="right">
                TAN SUAVE QUE LA TEXTURA ES INOLVIDABLE
            </p>
        </div>
        <div class="sp-slide mts-main-slides">
            <div class="mts-img-overlay"></div>

            <img class="sp-image" src="~/Content/images/img-header/tela5.jpg" alt="Slider 3" />

            <h2 class="sp-layer mts-slider-text-big"
                data-position="center" data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
                <span class="mts-highlight-texts">LA COSTURA ES PERFECCTA</span>
            </h2>

            <p class="sp-layer"
               data-position="center" data-vertical="15%" data-show-delay="2000" data-hide-delay="200" data-show-transition="left" data-hide-transition="right">
                PERFECTA PARA IR A LA PLAYA
            </p>
        </div>
        <!-- Slides End -->

    </div>
</section>

<section id="about" class="bgc-one-features mts-section-wrapper">
    <div class="container">
        <div class="row">

            <!-- Section Header -->
            <div class="col-md-12 col-sm-12 col-xs-12 mts-section-header wow fadeInDown">
                <h2><span class="mts-highlight-text">Misión</span></h2>
                <div class="mts-section-divider"></div>
                <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
                    Somos una empresa textil con líneas de negocio diversificadas y verticalmente integrada. Trabajamos para satisfacer los estándares de calidad de nuestros clientes, basados en capacidad innovadora, flexibilidad y vocación de servicio, a través de productos diferenciados.
                    !
                </p>
            </div>
            <!-- Section Header End -->
            <!-- What We Do -->
            <div class="mts-what-we-do">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 mts-blurb-round-icon wow bounceInLeft">
                        <div class="mts-icon">
                            <i class="fa fa-line-chart"></i>
                        </div>
                        <h3>Ventas</h3>
                        <p>Nuestras ventas nos delatan.</p>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12 mts-blurb-round-icon wow bounceInLeft" data-wow-delay=".5s">
                        <div class="mts-icon">
                            <i class="fa fa-database"></i>
                        </div>
                        <h3>Nuestra Base de datos</h3>
                        <p>Contramos con una gran variedad de datos que nuestro cliente pueden escoger a su gusto.</p>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12 mts-blurb-round-icon wow bounceInRight" data-wow-delay=".5s">
                        <div class="mts-icon">
                            <i class="fa fa-cloud"></i>
                        </div>
                        <h3>Respaldamos</h3>
                        <p>Respaldamos nuestros productos con mejor calidad en el mercado.</p>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12 mts-blurb-round-icon wow bounceInRight" data-wow-delay=".5s">
                        <div class="mts-icon">
                            <i class="fa fa-headphones"></i>
                        </div>
                        <h3>Geste especializada</h3>
                        <p>Nuestro orgullo es darle a nuestro cliente personal 100% prepara en el cammpo laboral.</p>
                    </div>

                </div>
            </div>
            <!-- What We Do End -->
            <!-- What We Do -->
            <div class="mts-what-we-do">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 mts-blurb-round-icon wow bounceInLeft">
                        <div class="mts-icon">
                            <i class="fa fa-legal"></i>
                        </div>
                        <h3>Respeto</h3>
                        <p>"Respetamos y valoramos a todas las personas en la empresa, por ello cumplimos con las normas y políticas internas, velando por el buen clima laboral".</p>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12 mts-blurb-round-icon wow bounceInLeft" data-wow-delay=".5s">
                        <div class="mts-icon">
                            <i class="fa fa-server"></i>
                        </div>
                        <h3>Calidad</h3>
                        <p>"Buscamos la calidad integral de nuestros colaboradores, procesos y productos, de acuerdo a las actuales exigencias del mercado y la globalización".</p>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12 mts-blurb-round-icon wow bounceInRight" data-wow-delay=".5s">
                        <div class="mts-icon">
                            <i class="fa fa-laptop"></i>
                        </div>
                        <h3>Innovación</h3>
                        <p>"Somos abiertos a los cambios, buscamos la mejora continua y diferenciación competitiva a partir de la investigación, análisis y creatividad".</p>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12 mts-blurb-round-icon wow bounceInRight" data-wow-delay=".5s">
                        <div class="mts-icon">
                            <i class="fa fa-adn"></i>
                        </div>
                        <h3>Trabajo en Equipo</h3>
                        <p>"Ponemos a disposición del equipo nuestra confianza, talentos y entusiasmo para alcanzar los objetivos comunes con resultados superiores".</p>
                    </div>

                </div>
                <div id="testimonials"></div>
            </div>
            <!-- What We Do End -->

        </div>
    </div>
</section>

<section class="bgc-two mts-testimonial-section">
    <div class="mts-parallax-overlay"></div>
    <div class="mts-testimonial-wrapper wow bounceIn">
        <div class="container">
            <div class="row">

                <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 mts-section-header wow fadeInDown">
                    <h2><span class="mts-highlight-text-inverted">Visión</span></h2>
                    <div class="mts-section-divider"></div>
                    <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
                        Ser una empresa textil verticalmente integrada, innovadora, con productos textiles diversificados y de calidad, cuya flexibilidad le permita atender a mercados de segmento alto, con diseños y colecciones. Todo ello respaldado en una cultura de excelencia operativa, prontitud de respuesta, así como un alto nivel de atención a nuestros clientes; por medio de personal capacitado y motivado que nos permita tener un crecimiento con rentabilidad sostenid
                    </p>
                </div>

                <!-- Testimonial Slider -->
                <div id="mts-testimonial" class="owl-carousel mts-testimonial">

                    <!-- Slides -->
                    <div class="mts-testimonial-slides col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
                        <img src="~/Content/images/img-testimonial/testimonial1.jpg" alt="">
                        <p>Lo mas importante es nuestra gente</p>
                        <p class="mts-client-info">Alicia</p>
                    </div>
                    <!-- Slides End -->
                    <!-- Slides -->
                    <div class="mts-testimonial-slides col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
                        <img src="~/Content/images/img-testimonial/testimonial2.jpg" alt="">
                        <p>El conocimiento es lo unico que no cuesta </p>
                        <p class="mts-client-info">John Doe</p>
                    </div>
                    <!-- Slides End -->
                    <!-- Slides -->
                    <div class="mts-testimonial-slides col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
                        <img src="~/Content/images/img-testimonial/testimonial3.jpg" alt="">
                        <p>La oportunidad de superar nuevas metas</p>
                        <p class="mts-client-info">Julia Doe</p>
                    </div>
                    <!-- Slides End -->

                </div>
                <!-- Testimonial Slider End -->
                <div id="contact"></div>
            </div>
        </div>
    </div>
</section>

<section class="bgc-one-top mts-section-wrapper mts-contact-section" data-stellar-background-ratio="0.5">
    <div class="mts-parallax-overlay"></div>
    <div class="container">
        <div class="row">

            <!-- Section Header -->
            <div class="col-md-12 col-sm-12 col-xs-12 mts-section-header wow fadeInDown mts-section-header-parallax">
                <h2><span class="mts-highlight-text">CONTACTO</span></h2>
                <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">Tienes alguna duda, ya no te preocupes puedes enviar tus comentarios y quejas Gracias.</p>
                &nbsp;
            </div>
            <!-- Section Header End -->

            <div class="mts-contact-details">

                <!-- Address Area End -->
                <!-- Contact Form -->
                <div class="col-md-6 col-sm-6 col-xs-12 mts-contact-form wow bounceInRight">
                    <div id="contact-result"></div>
                    <div id="contact-form">
                        <div class="mts-input-name mts-input-fields">
                            <input type="text" name="name" id="name" placeholder="Nombre">
                        </div>

                        <div class="mts-input-email mts-input-fields">
                            <input type="email" name="email" id="email" placeholder="Correo">
                        </div>

                        <div class="mts-input-message mts-input-fields">
                            <textarea name="message" id="message" cols="30" rows="10" placeholder="Mensaje"></textarea>
                        </div>

                        <input type="submit" value="Enviar Mensaje" id="submit-btn">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <p></p>
                    <ul>
                        <li><i class="fa fa-home"></i>C. 115 No. 404 por Calle 50, Santa Rosa, Mérida, Yuc..</li>
                        <li><i class="fa fa-phone"></i>(+1) 1213 456789</li>
                        <li><i class="fa fa-envelope-o"></i>josh@textil.com</li>
                    </ul>
                </div>
                <!-- Contact Form End -->

            </div>
        </div>
    </div>
</section>

<section id="portfolio" class="bgc-two-p mts-portfolio-section">
    <div class="container">
        <div class="row">

            <!-- Section Header -->
            <div class="col-md-12 col-sm-12 col-xs-12 mts-section-header wow fadeInDown">
                <h2><span class="mts-highlight-text">PORTFOLIO</span></h2>
                <div class="mts-section-divider"></div>
                <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, nam corporis quas, saepe minima error aperiam dolorum aliquam, quis deserunt eos eius quisquam odio itaque in minus distinctio dolores ipsam.</p>
            </div>
            <!-- Section Header End -->

        </div>
    </div>

    <!-- Works -->
    <div class="mts-portfolio-works wow fadeIn" data-wow-duration="2s">

        <!-- Filter Button Start -->
        <div id="mts-portfolio-filter" class="mts-portfolio-filter-btn-group">
            <ul>
                <li>
                    <a href="#" class="selected" data-filter="*">ALL</a>
                    <!--
                    -->
                    <a href="#" data-filter=".web">WEB</a>
                    <!--
                    -->
                    <a href="#" data-filter=".seo">SEO</a>
                    <!--
                    -->
                    <a href="#" data-filter=".works">WORKS</a>
                    <!--
                    -->
                    <a href="#" data-filter=".brands">BRANDS</a>
                </li>
            </ul>
        </div>
        <!-- Filter Button End -->

        <div class="mts-portfolio-items">

            <!-- Portfolio Items -->
            <div class="item mts-portfolio-item web seo">

                <img src="images/img-portfolio/portfolio1.jpg" alt="">
                <div class="mts-portfolio-details-wrapper">
                    <div class="mts-portfolio-details">
                        <div class="mts-portfolio-meta-btn">
                            <ul class="mts-work-meta">
                                <li class="mts-lighbox"><a href="~/Content/images/img-portfolio/portfolio1.jpg" class="mts-featured-work-img"><i class="fa fa-search-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Portfolio Items End -->
            <!-- Portfolio Items -->
            <div class="item mts-portfolio-item works seo">

                <img src="images/img-portfolio/portfolio2.jpg" alt="">
                <div class="mts-portfolio-details-wrapper">
                    <div class="mts-portfolio-details">
                        <div class="mts-portfolio-meta-btn">
                            <ul class="mts-work-meta">
                                <li class="mts-lighbox"><a href="~/Content/images/img-portfolio/portfolio2.jpg" class="mts-featured-work-img"><i class="fa fa-search-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Portfolio Items End -->
            <!-- Portfolio Items -->
            <div class="item mts-portfolio-item web">

                <img src="images/img-portfolio/portfolio3.jpg" alt="">
                <div class="mts-portfolio-details-wrapper">
                    <div class="mts-portfolio-details">
                        <div class="mts-portfolio-meta-btn">
                            <ul class="mts-work-meta">
                                <li class="mts-lighbox"><a href="~/Content/images/img-portfolio/portfolio3.jpg" class="mts-featured-work-img"><i class="fa fa-search-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Portfolio Items End -->
            <!-- Portfolio Items -->
            <div class="item mts-portfolio-item web works brands">

                <img src="images/img-portfolio/portfolio4.jpg" alt="">
                <div class="mts-portfolio-details-wrapper">
                    <div class="mts-portfolio-details">
                        <div class="mts-portfolio-meta-btn">
                            <ul class="mts-work-meta">
                                <li class="mts-lighbox"><a href="~/Content/images/img-portfolio/portfolio4.jpg" class="mts-featured-work-img"><i class="fa fa-search-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Portfolio Items -->
            <!-- Portfolio Items -->
            <div class="item mts-portfolio-item web brands">

                <img src="images/img-portfolio/portfolio5.jpg" alt="">
                <div class="mts-portfolio-details-wrapper">
                    <div class="mts-portfolio-details">
                        <div class="mts-portfolio-meta-btn">
                            <ul class="mts-work-meta">
                                <li class="mts-lighbox"><a href="~/Content/images/img-portfolio/portfolio5.jpg" class="mts-featured-work-img"><i class="fa fa-search-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Portfolio Items End -->
            <!-- Portfolio Items -->
            <div class="item mts-portfolio-item works seo">

                <img src="images/img-portfolio/portfolio6.jpg" alt="">
                <div class="mts-portfolio-details-wrapper">
                    <div class="mts-portfolio-details">
                        <div class="mts-portfolio-meta-btn">
                            <ul class="mts-work-meta">
                                <li class="mts-lighbox"><a href="~/Content/images/img-portfolio/portfolio6.jpg" class="mts-featured-work-img"><i class="fa fa-search-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Portfolio Items End -->

            <div class="item mts-portfolio-item brands seo">

                <img src="images/img-portfolio/portfolio1.jpg" alt="">
                <div class="mts-portfolio-details-wrapper">
                    <div class="mts-portfolio-details">
                        <div class="mts-portfolio-meta-btn">
                            <ul class="mts-work-meta">
                                <li class="mts-lighbox"><a href="~/Content/images/img-portfolio/portfolio7.jpg" class="mts-featured-work-img"><i class="fa fa-search-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Portfolio Items End -->
            <!-- Portfolio Items -->
            <div class="item mts-portfolio-item web seo works">

                <img src="images/img-portfolio/portfolio2.jpg" alt="">
                <div class="mts-portfolio-details-wrapper">
                    <div class="mts-portfolio-details">
                        <div class="mts-portfolio-meta-btn">
                            <ul class="mts-work-meta">
                                <li class="mts-lighbox"><a href="~/Content/images/img-portfolio/portfolio7.jpg" class="mts-featured-work-img"><i class="fa fa-search-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Portfolio Items End -->
            <!-- Portfolio Items -->
            <div class="item mts-portfolio-item seo brands">

                <img src="images/img-portfolio/portfolio6.jpg" alt="">
                <div class="mts-portfolio-details-wrapper">
                    <div class="mts-portfolio-details">
                        <div class="mts-portfolio-meta-btn">
                            <ul class="mts-work-meta">
                                <li class="mts-lighbox"><a href="~/Content/images/img-portfolio/portfolio6.jpg" class="mts-featured-work-img"><i class="fa fa-search-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Portfolio Items End -->
            <!-- Portfolio Items -->
            <div class="item mts-portfolio-item works">

                <img src="images/img-portfolio/portfolio4.jpg" alt="">
                <div class="mts-portfolio-details-wrapper">
                    <div class="mts-portfolio-details">
                        <div class="mts-portfolio-meta-btn">
                            <ul class="mts-work-meta">
                                <li class="mts-lighbox"><a href="~/Content/images/img-portfolio/portfolio10.jpg" class="mts-featured-work-img"><i class="fa fa-search-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Portfolio Items End -->
            <!-- Portfolio Items -->
            <div class="item mts-portfolio-item web">

                <img src="images/img-portfolio/portfolio5.jpg" alt="">
                <div class="mts-portfolio-details-wrapper">
                    <div class="mts-portfolio-details">
                        <div class="mts-portfolio-meta-btn">
                            <ul class="mts-work-meta">
                                <li class="mts-lighbox"><a href="~/Content/images/img-portfolio/portfolio11.jpg" class="mts-featured-work-img"><i class="fa fa-search-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Portfolio Items End -->
            <!-- Portfolio Items -->
            <div class="item mts-portfolio-item brands">

                <img src="images/img-portfolio/portfolio6.jpg" alt="">
                <div class="mts-portfolio-details-wrapper">
                    <div class="mts-portfolio-details">
                        <div class="mts-portfolio-meta-btn">
                            <ul class="mts-work-meta">
                                <li class="mts-lighbox"><a href="~/Content/images/img-portfolio/portfolio12.jpg" class="mts-featured-work-img"><i class="fa fa-search-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Portfolio Items End -->

        </div>
    </div>
    <!-- Works End -->


</section>




